.test-jt {
    background:none;


}

.test-maincon {
  height:100vh;
  max-height:100vh;
  background-image: url("https://www.schizospec.com/images/test-bg.jpg") !important;
}

.test-filter {
  height:100vh;
  max-height: 100vh;
  background-color: #0000008f !important;
}
.launch-icon {
  max-block-size:8em;
  block-size:8em;
  background-color:#dabfff2e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.icon-link {
  margin:3em;
  text-decoration: none;
}

.icon-id {
  padding-top:2em;
  color:#c5bcd3;
}
